.home{
    background-image: url('https://i.ibb.co/TWkxxqQ/h-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15%; 
    text-align: center;
    text-transform: uppercase;
    color: white;
}
#logo{
    padding-bottom: 1%;
}
#mouse{
    margin-top: 10%;
    padding-bottom: 40px;
}
.container-fluid{
    padding: 30px;
    text-align: center;
}
.services{
    background-image: url('https://i.ibb.co/HtZzwgc/s-image.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    padding: 5%;
    text-align: center;
}
.sh,.sp{
    color: white;
}
#contacts {
    background-image: url("https://i.ibb.co/tHftJh6/c-image.jpg");
    background-size: cover;
    color: whitesmoke;
    padding: 20px;
    width: 100%;
}

#contacts h2{
    margin: 30px auto;
  }
  .forms{
    width:60%;
    margin: auto;
    margin-bottom: 100px;
  }
  .bgTransparent{
    background-color: transparent;
    background:transparent;
    outline: none;
    background-color: transparent;
    color: white !important;
    font-weight: 500;
  }
  input::placeholder, textarea::placeholder{
    color: white;
  }
  .col{
    margin:0 5px 20px 5px;
    border-radius: 5px;
  }
  textarea{
    width: 100%;
  }