*{
    font-family: 'PT Sans', sans-serif;
}
.home{
    background-image: url('https://i.ibb.co/TWkxxqQ/h-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15%; 
    text-align: center;
    text-transform: uppercase;
    color: white;
}
#logo{
    padding-bottom: 1%;
}
#mouse{
    margin-top: 10%;
    padding-bottom: 40px;
}
.container-fluid{
    padding: 30px;
    text-align: center;
}
.services{
    background-image: url('https://i.ibb.co/HtZzwgc/s-image.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    padding: 5%;
    text-align: center;
}
.sh,.sp{
    color: white;
}
#contacts {
    background-image: url("https://i.ibb.co/tHftJh6/c-image.jpg");
    background-size: cover;
    color: whitesmoke;
    padding: 20px;
    width: 100%;
}

#contacts h2{
    margin: 30px auto;
  }
  .forms{
    width:60%;
    margin: auto;
    margin-bottom: 100px;
  }
  .bgTransparent{
    background-color: transparent;
    background:transparent;
    outline: none;
    background-color: transparent;
    color: white !important;
    font-weight: 500;
  }
  input::placeholder, textarea::placeholder{
    color: white;
  }
  .col{
    margin:0 5px 20px 5px;
    border-radius: 5px;
  }
  textarea{
    width: 100%;
  }
  .social-icons{
    padding: 0 5px 0 5px;
  }
  span{
    font-size: 15px;
  }
  .portfolio {
    padding-bottom: 50px;
}
#what-we-do{
    height: 250px;
  }

/* what we do */
#design-hide, #dev-hide, #prod-hide{
    text-align: center;
    display: none;
  }

  .wh{
      padding-top: 30px;
  }

  /* portfolio */
  .portimg {
    float: right;
    position: relative;
    margin: 5px;
    
}
.portimg .porttext {
    display: none;
    opacity: 1;
    background-color:rgba(255, 255, 255, 0.456);
    width: auto;
    position: absolute;
    bottom: 0;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    height: 100%;
}